{% extends 'base.html.twig' %}

{% block title %}New UserAsset{% endblock %}

{% block body %}
    <h1>Create new UserAsset</h1>

    {{ include('user_asset/_form.html.twig') }}

    <a href="{{ path('app_user_asset_index') }}">back to list</a>
{% endblock %}
