{% extends 'base.html.twig' %}

{% block title %}Edit UserPlatform{% endblock %}

{% block body %}
    <h1>Edit UserPlatform</h1>

    {{ include('user_platform/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_platform_index') }}">back to list</a>

    {{ include('user_platform/_delete_form.html.twig') }}
{% endblock %}
