<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Investment Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <!-- Toujours charger le CSS de base en premier -->
    <link rel="stylesheet" href="/styles/base.css">
    <!-- Ensuite charger les CSS spécifiques à chaque page -->
    {% if page_css is defined %}
        {% for css in page_css %}
            <link rel="stylesheet" href="/styles/{{ css }}.css">
        {% endfor %}
    {% endif %}
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="/" class="logo">InvestFolio</a>
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/portfolio" class="nav-link">Portfolio</a></li>
                    <li><a href="/user/transaction" class="nav-link">Transaction</a></li>
                </ul>
            </nav>
            {% if app.user %}
                <div class="auth-buttons">
{#                    <p>Bonjour {{ app.user.email }} !</p>#}
                    <a href="/account" class="btn btn-primary"><i data-lucide="circle-user-round"></i></a>
                    <a href="/logout" class="btn btn-outline">logout</a>
                </div>
            {% else %}
                <div class="auth-buttons">
                    <a href="/login" class="btn btn-outline">Login</a>
                    <a href="/register" class="btn btn-primary">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <p>&copy; {{ "now"|date("Y") }} InvestFolio. All rights reserved.</p>
    </div>
</footer>

<script>
    // Initialize Lucide icons
    lucide.createIcons();
</script>
{% block javascripts %}{% endblock %}
</body>
</html>

